## Ignore Python cache files, build files, and the virtual environment
__pycache__/
*.pyc
*.pyo

# Ignore the virtual environment
.strava/
.env

# Ignore locally stored token files
*.token
token.json

# Ignore sensitive files/local cache
activities.json
strava.properties

.DS_Store
